Common/Story.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Story">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Information" type="InformationType" minOccurs="1" maxOccurs="1" />
        <xs:element name="Configuration" type="ConfigurationType" minOccurs="1" maxOccurs="1" />
        <xs:element name="Pages" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Page" type="PageType" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Format" use="required" type="xs:integer" />
    </xs:complexType>
  </xs:element>

  <xs:complexType name="InformationType">
    <xs:all>
      <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="Author" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="Version" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="Website" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ConfigurationType">
    <xs:all>
      <xs:element name="FirstPage" type="xs:string" minOccurs="1" maxOccurs="1" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="PageType">
    <xs:sequence>
      <xs:element name="Text" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="Choice" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="Target" type="xs:string" use="required" />
              <xs:attribute name="Shortcut" type="xs:string" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>
