Common/Story.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Story">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Information" type="InformationType" minOccurs="1" maxOccurs="1" />
        <xs:element name="Configuration" type="ConfigurationType" minOccurs="1" maxOccurs="1" />
        <xs:element name="Pages" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Page" type="PageType" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Format" use="required" type="xs:integer" />
    </xs:complexType>
  </xs:element>

  <xs:complexType name="InformationType">
    <xs:all>
      <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="Author" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="Version" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="Website" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ConfigurationType">
    <xs:all>
      <xs:element name="FirstPage" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="StoryMarginLeft" type="xs:double" minOccurs="0" maxOccurs="1" />
      <xs:element name="StoryMarginRight" type="xs:double" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="PageType">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="Text" type="ParagraphObject" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Choice" type="ChoiceObject" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Image" type="ImageObject" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Flag" type="FlagObject" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Redirect" type="RedirectObject" minOccurs="0" maxOccurs="unbounded" />
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" use="required" />
  </xs:complexType>

  <!--
    Object Base
    -->
  <xs:complexType name="Object">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" use="optional" />
        <xs:attribute name="ShowIf" type="xs:string" use="optional" />
        <xs:attribute name="HideIf" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- 
    Page Objects
    -->
  <xs:complexType name="PageObject">
    <xs:simpleContent>
      <xs:extension base="Object">
        <xs:attribute name="MarginBottom" type="xs:double" use="optional" />
        <xs:attribute name="MarginLeft" type="xs:double" use="optional" />
        <xs:attribute name="MarginRight" type="xs:double" use="optional" />
        <xs:attribute name="MarginTop" type="xs:double" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ParagraphObject">
    <xs:simpleContent>
      <xs:extension base="PageObject" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ChoiceObject">
    <xs:simpleContent>
      <xs:extension base="PageObject">
        <xs:attribute name="Target" type="xs:string" use="required" />
        <xs:attribute name="Shortcut" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ImageObject">
    <xs:simpleContent>
      <xs:extension base="PageObject">
        <xs:attribute name="Source" type="xs:string" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!--
    Action Objects
    -->
  <xs:complexType name="ActionObject">
    <xs:simpleContent>
      <xs:extension base="Object" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="FlagObject">
    <xs:simpleContent>
      <xs:extension base="ActionObject">
        <xs:attribute name="Setting">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="set" />
              <xs:enumeration value="unset" />
              <xs:enumeration value="toggle" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="RedirectObject">
    <xs:simpleContent>
      <xs:extension base="ActionObject">
        <xs:attribute name="Target" type="xs:string" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
